@model List<WebApplication4.Models.DonHang>
@{
    ViewBag.Title = "Đơn hàng";
}

<div class="container pt-2" id="order" style="min-height: 80vh">
    <h3 class="text-success">Danh sách đơn hàng đã nhận</h3>
    <table class="table table-hover">
        <tr>
            <th>ID</th>
            <th>Khách hàng</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
            <th>Tổng tiền</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr v-on:click="DonHang(@item.id_DonHang)" style="cursor: pointer">
                <td>@item.id_DonHang</td>
                <td>@item.TenKhachHang</td>
                <td>@item.DiaChi</td>
                <td>@item.SoDienThoai</td>
                <td>@item.TongTien</td>
                <td>@item.NgayTao</td>
                <td class="text-success">Giao thành công</td>
            </tr>
        }
        <tr>
            <th colspan="7">
                <ul class="pagination justify-content-center">
                    @for (int i = 0; i < ViewBag.SoTrang; i++)
                    {
                        if ((i + 1) == ViewBag.Index)
                        {
                            <li class="active">
                                <a class="btn bg-primary mx-1 text-white" href="/Order/DonHangThanhCong?index=@(i + 1)&value=@ViewBag.value">@(i + 1)</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="btn bg-primary-subtle mx-1 text-white" href="/Order/DonHangThanhCong?index=@(i + 1)&value=@ViewBag.value">@(i + 1)</a>
                            </li>
                        }
                    }
                </ul>
            </th>
        </tr>
    </table>
</div>
@section scripts{
    <script>
        const { createApp, ref } = Vue;
        createApp({
            methods: {
                DonHang: function (id) {
                    window.location = "/Order/Order_Detail/" + id;
                }
            }
        }).mount('#order');
    </script>
}

