@model WebApplication4.Models.NhaCungCap
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="container" style="margin-top: 20px;">
    <form method="post" action="/Admin/NhaCungCap/Update/@Model.id_nhacungcap">
        <div class="container">
            <input hidden name="id_nhacungcap" type="text" value="@Model.id_nhacungcap" />
            <div class="col-lg-12" style="margin-bottom: 30px">
                @Html.LabelFor(row => row.TenNhaCungCap, "Tên nhà cung cấp")
                @Html.TextBoxFor(row => row.TenNhaCungCap, new { @class = "form-control", placeholder = "Nhập tên nhà cung cấp" })
            </div>
            <div class="col-lg-12" style="margin-bottom: 30px">
                @Html.LabelFor(row => row.DiaChi, "Đại chỉ nhà cung cấp")
                @Html.TextBoxFor(row => row.DiaChi, new { @class = "form-control", placeholder = "Nhập địa chỉ nhà cung cấp" })
            </div>
            <div class="col-lg-12" style="margin-bottom: 30px">
                @Html.LabelFor(row => row.SoDienThoai, "Số điện thoại nhà cung cấp")
                @Html.TextBoxFor(row => row.SoDienThoai, new { @class = "form-control", placeholder = "Nhập số điện thoại nhà cung cấp" })
            </div>
            <div class="col-lg-12">
                <button type="submit" style="padding: 4px 10px; border: none" class="bg-primary pull-right">Cập nhật</button>
            </div>
        </div>
    </form>
</div>

