@model WebApplication4.Models.TinTuc
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}
<div class="container" id="news" style="margin-top: 10px;">
    <form method="post" action="/Admin/News/Update/@Model.id_tintuc">
        <div class="container">
            <input hidden name="id_tintuc" type="text" value="@Model.id_tintuc" />
            <div class="col-lg-12" style="margin-bottom: 10px">
                @Html.LabelFor(row => row.HinhAnh, "Hình ảnh tiêu đề")
                <input name="HinhAnh" id="HinhAnh" type="file" />
            </div>
            <div class="col-lg-12" style="margin-bottom: 10px">
                @Html.LabelFor(row => row.TieuDe, "Tiêu đề tin tức")
                @Html.TextBoxFor(row => row.TieuDe, new { @class = "form-control", placeholder = "Nhập tiêu đề tin tức" })
            </div>
            <div class="col-lg-12" style="margin-bottom: 10px">
                @Html.LabelFor(row => row.GioiThieu, "Giới thiệu tin tức")
                @Html.TextBoxFor(row => row.GioiThieu, new { @class = "form-control", placeholder = "Nhập giới thiệu tin tức" })
            </div>
            <div class="col-lg-12" style="margin-bottom: 10px">
                @Html.LabelFor(row => row.NoiDung, "Nội dung tin tức")
                @Html.TextAreaFor(row => row.NoiDung, new { @class = "form-control", placeholder = "Nhập nội dung tin tức", rows = "12", id="inputNoiDung" })
            </div>
            <div class="col-lg-12">
                <button type="submit" style="padding: 4px 10px; border: none" class="bg-primary pull-right">Cập nhật</button>
            </div>
        </div>
    </form>
</div>
@section scripts{
    <script>
        CKEDITOR.replace('inputNoiDung')
    </script>
}

